<!DOCTYPE html>
	<html>
		<head>
			<!-- Favicon head tag -->
			<head> <link rel="icon" href="favicon.ico?" type="image/x-icon"/>
			<link rel="shortcut icon" href="favicon.ico?" type="image/x-icon"/>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">about</a></li>
	        		<li><a href="/cv">publications and presentations</a></li>
							<li><a href="/outreach">outreach</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		she/her   ~  cowherd at berkeley dot edu
				</ul>
			</footer>
		</body>
	</html>
